
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Accounting app</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home" ui-sref="pages.home" ng-click="onClick($event)">Home</a></li>
                <li class=""><a href="#persons" ui-sref="pages.persons" ng-click="onClick($event)">Persons</a></li>
                <li class=""><a href="#entries" ui-sref="pages.entries" ng-click="onClick($event)">Entries</a></li>
                <li class=""><a href="#about" ui-sref="pages.about" ng-click="onClick($event)">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



  