/* Remove outline from Bootstrap/Firefox */
:focus {
    outline:none;
} 
  
.content { 
    padding-top: 65px; 
}

.footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
}

.row-m-t{
    margin-top : 4px
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
